<%-include('template/header-sidebar') %> 
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                       <section class="cards-container">
                           <div class="dashboard-card card-promotor">
                               <div class="dashboard-card-data">
                                    <h2>PROMOTORES</h2>
                                    <div class="dashboard-card-number">
                                        3
                                    </div>
                                    <div class="dashboard-card-percent">
                                        Percentual: <span class="percent">38%</span>
                                    </div>
                               </div>
                               <div class="dashboard-card-icon">
                                <i class="bi bi-emoji-smile"></i>
                               </div>
                           </div>
                           <div class="dashboard-card card-neutros">
                               <div class="dashboard-card-data">
                                    <h2>NEUTROS</h2>
                                    <div class="dashboard-card-number">
                                        1
                                    </div>
                                    <div class="dashboard-card-percent">
                                        Percentual: <span class="percent">12%</span>
                                    </div>
                               </div>
                               <div class="dashboard-card-icon">
                                <i class="bi bi-emoji-smile"></i>
                               </div>
                           </div>
                           <div class="dashboard-card card-detratores">
                               <div class="dashboard-card-data">
                                    <h2>DETRATORES</h2>
                                    <div class="dashboard-card-number">
                                        4
                                    </div>
                                    <div class="dashboard-card-percent">
                                        Percentual: <span class="percent">50%</span>
                                    </div>
                               </div>
                               <div class="dashboard-card-icon">
                                <i class="bi bi-emoji-smile"></i>
                               </div>
                           </div>
                           <div class="dashboard-card card-nps">
                               <div class="dashboard-card-data">
                                    <h2>NPS</h2>
                                    <div class="dashboard-card-number">
                                        -12
                                    </div>
    
                               </div>
                               <div class="dashboard-card-icon">
                                <i class="bi bi-speedometer"></i>
                               </div>
                           </div>
                       </section>
  
                    </div> <!-- Content Row -->

                   
                </div><!-- /.container-fluid -->
                

            </div>
            <!-- End of Main Content -->

<%-include('template/footer') %> 